body{
    background-image: linear-gradient(rgba(247, 197, 185, 0.5),rgba(221, 236, 247, 0.5)),
     url('../imagenes/logocheff-sf.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

body:before{
    opacity: 0.6;
}

.card{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 1px 10px 10px rgba(0,0,0,0.50);
    margin-top: 20px;
}

.footer{
    background-color: rgba(250, 243, 243, 0.664);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    border: 1px solid black;
    width: 100%;
    max-width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 25px;
}

.tabla-productos{
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 80%;
}

.card .content{
    flex-shrink: 1;
    flex-grow: 1;
}

.imagen-cheff{
    margin: auto;
}

.circulo-azul{
    background-color: blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    }

.circulo-rojo{
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    }

.circulo-verde{
    background-color: green;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    }

.circulo-gris{
    background-color: gainsboro;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    }

.circulo-fucsia{
    background-color: fuchsia;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    }

button{
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    color: black;
    border-style: none;
    font-size: 20px;
    font-family: 'Quicksand',sans-serif;
    font-weight: bold;
    /* -webkit-text-stroke: 0.5px black; */
}

.content img{
    border-top-left-radius: 25px;
}

.content img:hover{
    transform: scale(2);
}

.link-inicio{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Georgia';
    -webkit-text-stroke: 1px black;
    color: red;
    border: 2px solid black;
    border-radius: 6px ;
}

.contenedor-link{
    width: 100%;
}

@media (max-width: 810px) {
    .tabla-productos{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .card{
        max-width: 300px;
        margin: auto;
        margin-top: 15px;
    }

    .link-inicio{
        min-width: 270px;
        margin: auto;
        margin-top: 25px;
    }

    .contenedor-link{
        align-content: center;
    }
}